---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

//CV start

// Variables
$font-stack: Arial, sans-serif;
$primary-color: black;
$header-margin-bottom: 20px;
$section-margin: 20px 40px;
$ul-margin: 5px 0 15px 20px;

// Mixins
@mixin margin-bottom($margin) {
  margin-bottom: $margin;
}

// Base styles
.cv-container {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  line-height: 1.6;

  .cv-header {
    text-align: center;
    @include margin-bottom($header-margin-bottom);
  
    .cv-title {
      margin: 0;
      font-size: 2em;
    }
  
    .cv-subtitle, .cv-contact {
      margin: 5px 0;
    }
  }
  
  .cv-section {
    margin: $section-margin;
  
    .cv-section-title {
      border-bottom: 2px solid $primary-color;
      padding-bottom: 5px;
      @include margin-bottom(10px);
      font-size: 1.5em;
    }
  
    .cv-subsection {
      margin-bottom: 20px;

      .cv-subsection-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .cv-subtitle {
          font-size: 1.2em;
          margin: 10px 0 5px;
        }

        .cv-detail-right {
          font-size: 0.9em;
          text-align: right;
        }
      }
  
      .cv-detail {
        margin: 2px 0;
      }
  
      .cv-list {
        margin: $ul-margin;
        padding: 0;
  
        li {
          margin-bottom: 5px;
        }
      }
    }
  }
}

// CV end